.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #F5F5F5;
  font-family: 'laundry';
}

.chatBox {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
  /* border: 1px solid #000000; */
  border-radius: 10px;
  background-color: #F5F5F5;
  width: 60vw;
}::-webkit-scrollbar{
  display: none;
}

.chatHeader {
  background-color: #F5F5F5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  font-size: 1.2rem;
  text-align: center;
}

.chatContent {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.image{
  width: 10vh;
  height: 10vh;
  max-width: 50px;
  max-height: 50px;
  border: 1px solid rgba(98, 98, 98, 0.079);
}

.chatDiv{
  width: 100%;
  height: max-content;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;  
}

.leftChatDiv{
  display: flex;
  justify-content: flex-start;
}
.rightChatDiv{
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
}

.textDiv{

}

.leftTextDiv{
  position: relative;
  max-width: 33vw;
  background-color: #c7dcf3;
  color: black;
  align-content: center;
  padding: 5px;
  padding-right: 8px;
  border-radius: 5px;
  margin-left: 10px;
}

.leftTextDiv::after {  
  content: "";
  position: absolute;
  left: 0;
  top: 2.5vh;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #c7dcf3;
  border-left: 0;
  margin-top: -8px;
  margin-left: -8px;
}

.rightTextDiv{
  position: relative;
  max-width: 33vw;
  background-color: #eaeaea;
  color: black;
  align-content: center;
  padding: 5px;
  padding-left: 8px;
  border-radius: 15px;
  margin-right: 10px;

  &::after{
    content: '';
    position: absolute;
    right: 0;
    top: 2.5vh;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #eaeaea;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
  }
}