.divStyle{
  overflow: hidden;
  font-family: 'laundry';
}

.formContainer {
    width: 30vw;
    margin: 10vh auto;
    margin-bottom: 2vh;
    padding: 25px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    height: 88vh;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input {
    width: calc(100% - 10px);
    display: block;
    margin: 3px 0;
    padding: 8px;
    border-radius: 10px;
  }
  
  .button {
    padding: 5px 5px;
    margin-top: 1vh;
    margin-left: 10%;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
  }