.divStyle{
  overflow: hidden;
  font-family: 'laundry';
  background-color: #f5f5f5;
}

.formContainer {
    width: 30vw;
    max-width: 400px;
    margin: 10vh auto;
    margin-top: 20vh;
    margin-bottom: 25vh;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    height: 55vh;
    background-color: #f5f5f5;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input {
    width: calc(100% - 10px);
    display: block;
    margin: 3px 0;
    padding: 8px;
    border-radius: 10px;
  }
  
  .button {
    padding: 5px 5px;
    margin-top: 2vh;
    margin-left: 35%;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
  }