.container {
  width: 400px;
  margin: auto;
  margin-top: 10%;
  padding: 50px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  font-family: 'laundry';
  border-radius: 10px;
}

.inputField {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border-radius: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.snsTitle {
  text-align: center;
  margin-top: 20px;
}

.snsIcons {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.icon {
  height: 20px;
  width: 20px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}