.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F5F5F5;
  font-family: 'laundry';
  border-radius: 10px;
}

.chatBox {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  background-color: #F5F5F5;
  border-radius: 10px;
  width: 75vw;
}::-webkit-scrollbar{
  display: none;
}

.chatHeader {
  background-color: #F5F5F5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  font-size: 1.2rem;
  text-align: center;
}

.chatContent {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chatFooter {
  display: flex;
  padding: 30px;
  border-top: 1px solid #ccc;
}

.chatInput {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 40px;
}

.chatButton {
  padding: 10px 30px;
  background-color: #cae1c2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.chatButton:hover {
  background-color: #779fca;
}

.iframeStyle {
  /* margin: 0.4vh; */
  margin-right: 7vh;
  width: 75vw;
  height: 60vh;
  /* float: inherit; */
}

.iframeDiv{
  /* padding: 0.5vh; */
  position: relative;
}

.closeButton {
  position: absolute; /* 부모 컨테이너(iframeDiv)를 기준으로 절대 위치 설정 */
  margin-right: 6vh;
  right: 5px; /* 오른쪽에서 10px 떨어진 위치 */
}

.image{
  width: 10vh;
  height: 10vh;
  max-width: 50px;
  max-height: 50px;
  border: 1px solid rgba(98, 98, 98, 0.079);
}

.chatDiv{
  width: 74vw;
  height: max-content;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;  
}

.leftChatDiv{
  display: flex;
  justify-content: flex-start;
}
.rightChatDiv{
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.textDiv {

}

.leftTextDiv{
  position: relative;
  max-width: 33vw;
  background-color: #c7dcf3;
  color: black;
  align-content: center;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
}

.leftTextDiv::after {  
  content: "";
  position: absolute;
  left: 0;
  top: 2.5vh;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #c7dcf3;
  border-left: 0;
  margin-top: -8px;
  margin-left: -8px;
}

.rightTextDiv{
  position: relative;
  max-width: 33vw;
  background-color: #eaeaea;
  color: black;
  align-content: center;
  padding: 5px;
  border-radius: 15px;
  margin-right: 10px;

  &::after{
    content: '';
    position: absolute;
    right: 0;
    top: 2.5vh;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #eaeaea;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
  }
}

.buttonContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  margin-right: 7vh;
  margin-top: 0.4vh;
}

.actionButton{
  margin-left: 0.5vh;
}