.sidebar {
    font-family: 'laundry';
    margin-top: 8vh;
    width: 16vw;
    height: 92vh;
    background-color: #f0f0f0;
    padding: 10px;
    padding-left: 1.5vw;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 5px;
    background-color: rgb(255, 237, 216);
  }
  
  .sidebar ul li {
    cursor: pointer;  
  }
  
  .sidebar ul li ul {
    margin-left: 10px;
  }

  .noMargin{
    margin: 0px;
  }

  .clickP{
    text-decoration: underline;
    text-underline-position : under;
    font-family: 'laundryBold';
  }
  