.divStyle{
  overflow: hidden;
}
.formContainer {
    width: 30vw;
    margin: 10vh auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    font-family: 'laundry';
    border-radius: 10px;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }